@import '@fontsource/gfs-neohellenic';
@import '@fontsource/inter';

:root {
	--font-title: 'GFS Neohellenic';
	--font-body: 'Inter';
	--background-accent: #fff;
	--background-color: #f0f0f0;
	--primary-color: #5d5d5d;

	color: var(--primary-color);
	font-family: var(--font-body);
}

body {
	margin: 0;
	background: var(--background-color);
}

.title {
	height: var(--tittle-height);
	background: var(--background-accent);
}

h1 {
	font-family: var(--font-title);
	text-align: center;
	margin: 0;
	padding: 31px 0;
	font-weight: 700;
	font-size: 40px;
}

.inputs {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	column-gap: 35px;
	row-gap: 25px;
	margin: 35px 35px 100px 35px;
}

.input-container {
	display: flex;
	flex-direction: column;
	min-width: 0;
}

input {
	border-radius: 8px;
	font-size: 18px;
	color: var(--primary-color);
	padding: 10px 20px 5px 20px;
	border: 1px solid var(--primary-color);
}

.inputs label {
	display: block;
	font-size: 11px;
	margin: 7px 0px 7px 7px;
}

.ingredients {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto auto;
	margin: 50px 35px 20px 35px;
	grid-template-areas:
		'title title'
		'none none'
		'none none';
	gap: 1px;
	border: 1px solid var(--primary-color);
	border-radius: 8px;
	overflow: hidden;
}

.ingredient-title {
	background: var(--primary-color);
	/* border-radius: 8px 8px 0px 0px; */
	color: var(--background-accent);
	padding: 0px 15px 0px 15px;
	grid-area: title;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ingredient-title p {
	margin: 10px 0;
}

.ingredient-box {
	outline: 1px solid var(--primary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--background-accent);
}

.ingredient-box p {
	margin: 0;
}

.subtitle {
	padding-top: 12px;
	font-size: 11px;
	font-weight: 300;
}

.ingredient-value {
	font-size: 18px;
	font-weight: 500;
	padding-bottom: 15px;
}

@media (min-width: 500px) {
	.inputs {
		max-width: 426px;
		margin: 35px auto 100px auto;
	}

	.ingredients {
		max-width: 426px;
		margin: 50px auto 20px auto;
	}
}