@import '@fontsource/fira-mono';

:root {
	--font-body: Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--color-bg-0: #3e848e;
	--color-bg-1: #254e54;
	--color-bg-2: #567189;
	--color-bg-3: #ffffff;
	--color-bg-grey: #deedef;;
	--color-theme-1: #193438;
	--color-theme-2: #4075a6;
	--color-text: #ffffff;
	--color-text-2: #193438;
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--global-padding: 200px;
	font-family: var(--font-body);
	color: var(--color-text);
}

body {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background: var(--color-bg-0);
	margin: 0;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3rem;
	text-align: center;
}

h2 {
	font-size: 2rem;
}

h3 {
	text-align: center;
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.main-container {
	border: 1px solid red;
	padding: 100px var(--global-padding) 0px var(--global-padding);
}

@media (max-width: 940px) {
	:root {
		--global-padding: 100px;
	}
}

@media (max-width: 640px) {
	:root {
		--global-padding: 0px;
	}
}