@import '@fontsource/fira-mono';

:root {
	--font-body: Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--primary-color: #2072BB;
	--secondary-color: #125b96;
	--light-text: #ffffff;
	--input-color: #CFE8FF;
	--input-text: #8DB8E2;
	--accent-color: #FF6B76;
	--dark-text: #034670;
	--color-bg-2: #567189;
	--light-background: #ffffff;	
	--dark-text: #193438;
	--color-theme-2: #4075a6;

	--top-global-padding: 150px;
	

	--column-width: 42rem;
	--column-margin-top: 4rem;
	--global-padding: 200px;
	font-family: var(--font-body);
	color: var(--light-text);
}

body {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background: var(--primary-color);
	margin: 0;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--dark-text);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3rem;
	text-align: center;
}

h2 {
	font-size: 2rem;
}

h3 {
	text-align: left;
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	color: var(--light-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.main-container {
	padding: var(--top-global-padding) var(--global-padding) 0px var(--global-padding);
}

@media (max-width: 940px) {
	:root {
		--global-padding: 100px;
		--top-global-padding: 100px;
	}
}

@media (max-width: 640px) {
	:root {
		--global-padding: 0px;
		--top-global-padding: 42px;
	}
}